<main>
    <header>Estampitiency</header>
    <section>
        <div class="container">
            <div class="card" *ngFor="let producto of productos">
                <img [src]="producto.image" />
                <div class="title">
                    {{producto.title}}
                </div>
                <div class="description">
                    {{producto.description}}
                </div>
                <div class="btn">
                    <button class="btn-add" (click)="addProduct(producto)">Agregar</button>
                </div>
            </div>
        </div>
    </section>
    <div class="info-carrito">
        <button class="btn-info">{{carrito.length}} productos (total $ 0)</button>
    </div>
</main>